[book]
authors = ["Julio Jimenez"]
language = "en"
src = "src"
title = "Book of Hash"
description = "Documentation for hash-shell - A modern POSIX-compliant command line interpreter"

[build]
build-dir = "output"
create-missing = false

[output.html]
default-theme = "navy"
preferred-dark-theme = "navy"
git-repository-url = "https://github.com/juliojimenez/hash"
edit-url-template = "https://github.com/juliojimenez/hash/edit/main/book/src/{path}"
site-url = "https://hash-shell.org/"

[output.html.fold]
enable = true
level = 1

[output.html.search]
enable = true
limit-results = 30
teaser-word-count = 30
use-boolean-and = true
boost-title = 2
boost-hierarchy = 1
boost-paragraph = 1
expand = true
heading-split-level = 3
